body { 
    color: white;
    background: rgb(0, 0, 0);
    margin: 0px;
    font-family: "Dancing Script", cursive;
}
     
header { 
    border-bottom: solid 2px rgb(255, 153, 0);
    padding: 25px;
    font-size: 32px;
    color: rgb(249, 32, 97);
}

.chamada {
    background: red;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 16px;
}

img {
    height: 225px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria { 
     padding-left: 20px;
     padding-right: 20px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 2px solid red
}