body { 
    color: white;
    background: rgb(255, 255, 255);
    margin: 0px;
    font-family: "Dancing Script", cursive;
}
     
header { 
    border-bottom: solid 2px rgb(47, 0, 255);
    padding: 25px;
    font-size: 32px;
    color: rgb(161, 204, 240);
}

.chamada {
    background: rgb(127, 147, 163);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 16px;
}

img {
    height: 225px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 15px;
}

.categoria { 
     padding-left: 20px;
     padding-right: 20px;
}